<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<form>
  <div class="form-group">
    <label>Repo</label>
    <input type="text" class="form-control" name="repo" ng-model="repo.name"></input>
  </div>
  <div class="form-group">
    <label>Currently Deployed Branch</label>
    <input type="text" class="form-control" name="repo" ng-model="repo.old_branch"></input>
  </div>
  <div class="form-group">
    <label>New Branch</label>
    <input type="text" class="form-control" name="repo" ng-model="repo.new_branch"></input>
  </div>
    <button type="submit" class="btn btn-primary" ng-click="computeDeployGuide()">Get Deploy Guide</button>
    <button type="submit" class="btn btn-primary" ng-click="generateDeployGuide()" ng-disabled="!inConstructState()">Generate Deploy Guide</button>
</div>
</form>
<div ng-show="!in_construct_state">
  <pre class="prettyprint prettyprinted" class="input-xlarge" ng-bind="deployGuide"></pre>
</div>
<div id='fragments' ng-show="in_construct_state">
  <pre class='fragment prettyprint prettyprinted' ng-click="selectFragment(fragment)" ng-repeat="fragment in fragments" ng-class="{'isSelected': fragment.isSelected}">{{fragment.content}}</pre>
</div>
