/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_self
 *= require_tree .
 */

div.guide-container {
  margin-top: 10px;
}

pre.fragment {
  margin-top: 1px;
  height: 100%;
  position: relative;
  white-space: pre-wrap;
  overflow: visible;
}

pre.fragment-old {
  margin-top: 1px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  height: 100%;
  position: relative;
  white-space: pre-wrap;
  overflow: visible;
  background-color: #F78181;
}

pre.frament-new {
  margin-top: 0px;
  height: 100%;
  position: relative;
  white-space: pre-wrap;
  overflow: visible;
  background-color: #9FF781;
}

.isSelected {
  background-color: #64FE2E;
}
